/* Layout Colors */
$color-navigation: #303030;
$color-navigation-active: #cfb995;
$color-body: #f9f9f9;
$color-card: #ecebe9;
$color-ligth: #ffffff;
$color-soft: #b2b2b2;

/* Typography */
$color-main-text: #303030;
$color-big-text: #cfb995;
