@import "./colors.scss";
@import "./sizes.scss";

$input-border: solid 1px $color-ligth;
$input-search-width: 458px;
$input-search-heigth: 48px;

/* Input */
.input {
  box-sizing: border-box;
  border-radius: 4px;
  border: $input-border;
}

.input--search {
  width: 100%;
  max-width: $input-search-width;
  height: $input-search-heigth;
  padding-left: 15px;
  padding-right: 40px;
  margin: 50px 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 95% center;
  background-image: url("./assets/search-icon-ligth.png");

  &:focus {
    background-color: $color-ligth;
    background-image: url("./assets/search-icon-dark.png");
  }
}

/* Pill */
.pill {
  border-radius: 2px;
  background-color: $test-color;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  position: relative;
}

.pill--medium {
  width: 200px;
}

.pill__action {
  background-color: transparent;
  border: 1px solid $color-link;
}

.pill__active {
  color: $color-link-active;
  border: solid 1px $color-link-active;
}

/* Tag */
.tag {
  display: inline-block;
  background-color: $test-color;
  position: relative;
  border-radius: 11px;
  padding: 2px 10px;
  line-height: 20px;
}

.bullet-small-rigth {
  &:before {
    content: "·";
    padding-right: 2px;
  }
}

/* Card */
.card {
  background-color: $white;
  border-radius: 2px;
  border: solid 1px $color-card-border;

  &:hover {
    box-shadow: 0 1px 7px 0 $color-card-shadow;
  }
}

.card--box {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.card--box-small {
  box-sizing: border-box;
  padding: 10px;
}

.card__title {
  font-size: 16px;
  text-transform: uppercase;
  position: relative;

  &:before {
    content: " ";
    display: inline-block;
    width: 8px;
    height: 14px;
    margin-right: 5px;
    background-image: url("./assets/ligthing-bolt.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.card__content {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.57;
  max-width: 600px;
}

.card__link {
  margin-top: auto;
  align-self: flex-end;
}

.card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__big-title {
  display: flex;
  align-items: flex-end;
  color: $color-big-text;
  margin-top: 10px;
}

.card__big-title__divider {
  flex-grow: 1;
  border-bottom: 2px solid $color-big-text;
  margin: 5px 10px;
}

.arrow-rigth {
  &:after {
    content: " ";
    display: inline-block;
    height: 10px;
    width: 30px;
    background-image: url("./assets/arrow-right.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
}

.loading {
  background-color: $color-background-contrast;
}

.no-data {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: $color-background-contrast;
}

.single-joke__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.single-joke__actions__votes {
  display: flex;
  align-items: flex-end;
  width: 100px;
  justify-content: space-between;
}

.single-joke__actions__vote {
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.single-joke__actions__vote--up {
  background-color: #68b680;
  background-image: url("./assets/up-vote.svg");
  &:hover {
    background-color: #46915d;
  }
}

.single-joke__actions__vote--down {
  background-color: #ff3750;
  background-image: url("./assets/down-vote.svg");
  &:hover {
    background-color: #ce2c40;
  }
}

.single-joke__actions__pages {
  display: flex;
  align-items: center;
  width: 240px;
  justify-content: space-between;
}
