@import "./colors.scss";
@import "./sizes.scss";

$input-border: solid 1px $color-ligth;
$input-search-width: 458px;
$input-search-heigth: 48px;

/* Input */
.input {
  box-sizing: border-box;
  border-radius: 4px;
  border: $input-border;
}

.input--search {
  width: 100%;
  max-width: $input-search-width;
  height: $input-search-heigth;
  padding-left: 15px;
  padding-right: 40px;
  margin: 50px 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 95% center;
  background-image: url("./assets/search-icon-ligth.png");

  &:focus {
    background-color: $color-ligth;
    background-image: url("./assets/search-icon-dark.png");
  }
}

/* Pill */
.pill {
  border-radius: 2px;
  background-color: $test-color;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  position: relative;
}
.pill__action {
  background-color: transparent;
  border: 1px solid $color-link;
}
.pill__active {
  color: $color-link-active;
  border: solid 1px $color-link-active;
}

/* Tag */
.tag {
  &:before {
    content: "·";
    color: $color-ligth;
    padding-right: 5px;
  }
  height: $pill-height-small;
  background-color: $test-color;
  position: relative;
  border-radius: 11px;
  padding: 2px 10px;
}

/* Card */
.card {
  background-color: $white;
  border-radius: 2px;
  border: solid 1px $color-card-border;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 16px;

  &:hover {
    box-shadow: 0 1px 7px 0 $color-card-shadow;
  }
}

.card__title {
  font-size: 16px;
  text-transform: uppercase;
  position: relative;

  &:before {
    content: " ";
    display: inline-block;
    width: 8px;
    height: 14px;
    margin-right: 5px;
    background-image: url("./assets/ligthing-bolt.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.card__content {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.57;
}

.card__link {
  margin-top: auto;
  align-self: flex-end;
}

.arrow-rigth {
  &:after {
    content: " ";
    display: inline-block;
    height: 10px;
    width: 30px;
    background-image: url("./assets/arrow-right.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
}
