@import "./sizes.scss";
@import "./colors.scss";

body {
  min-width: $size-min-screen;
  width: 100%;
  background-color: $color-body;
}

main {
  margin: 0 auto;
}

hr {
  color: $color-hr;
}

footer {
  height: 194px;
  background-image: url("./assets/footer.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
}
