@import "./sizes.scss";
@import "./colors.scss";

body {
  min-width: $size-min-screen;
  width: 100%;
  background-color: $color-body;
}

main {
  max-width: $size-max-screen;
  margin: 0 auto;
}

hr {
  color: $color-hr;
}
