@mixin point-arrow($direction) {
  .arrow-#{$direction} {
    background-image: url("./assets/arrow-#{$direction}.svg");
    background-position: center right 16px;
    background-repeat: no-repeat;
  }
}

@mixin action-arrow($direction) {
  .action-arrow-#{$direction} {
    background-image: url("./assets/action-arrow-#{$direction}.svg");
    background-position: center #{$direction} 5px;
    background-repeat: no-repeat;
    padding-#{$direction}: 20px;
    cursor: pointer;
  }
}

@include point-arrow("up");
@include point-arrow("down");
@include action-arrow("left");
@include action-arrow("right");
