@import "./colors.scss";
@import "./sizes.scss";

.message-block {
  min-height: 300px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $alto;
  flex-direction: column;
  text-align: center;
}

.header {
  object-fit: contain;
  background-image: url("assets/header.jpg");
  text-align: center;
  background-size: cover;
  background-position: center;
  padding: 40px 0;
  margin-bottom: 60px;
}

.menu {
  background-color: $color-navigation;
  height: $size-navigation;
}

.menu--nav {
  height: 100%;
  margin: auto;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 650px) {
    padding: 0 20px;
  }
}

.filters {
  display: grid;
  grid-template-columns: repeat(5, minmax(100px, 1fr));
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  @media screen and (max-width: 650px) {
    grid-template-columns: 1fr;
  }
}

.actions {
  text-align: center;
  margin: 60px 0;
}

.container {
  max-width: $size-max-screen;
}

.footer-actions {
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;

  @media screen and (max-width: 650px) {
    text-align: center;
  }
}

.tags {
  border-top: 1px solid $color-background-contrast;
  margin-top: 34px;
  padding-top: 10px;
  margin-bottom: 10px;
}

.joke-cards {
  display: grid;
  grid-column-gap: 15px;
  grid-row-gap: 38px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fill, 240px);
  grid-auto-rows: 240px;

  @media screen and (max-width: 650px) {
    grid-row-gap: 15px;
    grid-template-rows: repeat(auto-fit, minmax(180px, 1fr));
  }
}

.single-joke {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "joke ranking";
  margin-bottom: 60px;
  @media screen and (max-width: 650px) {
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content max-content;
    grid-template-areas: "joke" "ranking";
  }
}

.single-joke__ranking {
  grid-area: ranking;
}

.single-joke__container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.single-joke__joke-card {
  flex-grow: 1;
  margin-bottom: 20px;
}
