@import "./colors.scss";
@import "./sizes.scss";

.header {
  object-fit: contain;
  background-image: url("assets/header.jpg");
  text-align: center;
  background-size: cover;
  background-position: center;
  padding: 40px 0;
}

.menu {
  background-color: $color-navigation;
  height: $size-navigation;
}

.menu--nav {
  height: 100%;
  margin: auto;
  max-width: $size-max-screen;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
