@import "./colors.scss";
@import "./sizes.scss";

.header {
  object-fit: contain;
  background-image: url("assets/header.jpg");
  text-align: center;
  background-size: cover;
  background-position: center;
  padding: 40px 0;
}

.menu {
  background-color: $color-navigation;
  height: $size-navigation;
}

.menu--nav {
  height: 100%;
  margin: auto;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filters {
  display: grid;
  grid-template-columns: repeat(5, minmax(100px, 1fr));
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  @media screen and (max-width: 650px) {
    grid-template-columns: 1fr;
  }
}

.actions {
  text-align: center;
  margin: 60px 0;
}

.container {
  max-width: $size-max-screen;
}

.footer-actions {
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.joke-cards {
  display: grid;
  grid-column-gap: 15px;
  grid-row-gap: 38px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(260px, 1fr));

  @media screen and (max-width: 650px) {
    grid-row-gap: 15px;
    grid-template-rows: repeat(auto-fit, minmax(180px, 1fr));
  }
}
