/* Layout sizes*/
$size-min-screen: 320px;

/* Sections sizes */
$size-navigation: 60px;

/* Components sizes*/
$pill-height: 48px;

/* Gutter sizes*/
$gutter-xsmall: 10px;
$gutter-small: 10px;
$gutter-medium: 15px;
$gutter-large: 50px;
