/* Layout sizes*/
$size-min-screen: 320px;
$size-max-screen: 1100px;

/* Sections sizes */
$size-navigation: 60px;

/* Components sizes*/
$pill-height: 48px;
$pill-width: 206px;
$pill-height-small: 48px;

/* Gutter sizes*/
$gutter-small: 10px;
$gutter-medium: 15px;
$gutter-large: 50px;
