@import "./colors.scss";
@import "./sizes.scss";
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap");

$font-main: "Montserrat", sans-serif;
$font-size-link: 14px;
$font-size-regular: 15px;
$font-size-medium: 22px;
$font-nav-padding: 15px;
$font-size-big: 48px;

// Weight
$semi-bold: 600;

.typography {
  font-family: $font-main;
  font-size: $font-size-regular;
}

.typography__center {
  text-align: center;
}

.typography--pill {
  color: $color-ligth;
  font-weight: $semi-bold;
  line-height: $pill-height;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.typography--tag {
  color: $color-ligth;
  font-size: 12px;
}

.typography--search {
  color: $color-soft;
  &:focus {
    color: $color-main-text;
  }
}

.typography__big {
  color: $color-big-text;
  font-size: $font-size-big;
  margin: $gutter-medium 0;
}

.typography__medium {
  color: $color-ligth;
  font-size: $font-size-medium;
  font-weight: $semi-bold;
  margin: $gutter-small 0;
}

.typography--nav {
  color: $color-ligth;
  font-size: $font-size-regular;
  font-weight: $semi-bold;
  padding: $font-nav-padding;
  text-decoration: none;
  text-transform: uppercase;
}

.typography--nav--sublink {
  color: $color-link-secondary;
  font-size: $font-size-link;
  text-decoration: none;
}

.typography--footer {
  color: $color-ligth;
  font-size: $font-size-regular;
  font-weight: $semi-bold;
  margin: $gutter-medium 0;
  text-decoration: none;
  text-transform: uppercase;
}

.typography--link {
  color: $color-link;
  font-size: $font-size-link;
  text-decoration: none;
  text-transform: uppercase;
}

.typography__semi-bold {
  font-weight: $semi-bold;
}

.typography--big-title {
  font-size: 40px;
}

.typography--trending {
  color: $color-card-trending;
  text-transform: uppercase;
}

.typography--vote {
  text-align: center;
  font-size: 12px;
}

.typography--vote__up {
  color: #68b680;
  &:hover {
    color: #46915d;
  }
}

.typography--vote__down {
  color: #ff3750;
  &:hover {
    color: #ce2c40;
  }
}
