.show-mobile {
  display: none;
  @media screen and (max-width: 650px) {
    display: inherit;
  }
}

.hide-mobile {
  display: inherit;
  @media screen and (max-width: 650px) {
    display: none;
  }
}

.hide-medium {
  display: inherit;
  @media screen and (max-width: 840px) {
    display: none;
  }
}

.show-medium {
  display: none;
  @media screen and (max-width: 840px) {
    display: inherit;
  }
}
